# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
cmd

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories
# vendor/

# Go workspace file
go.work
go.work.sum

# env files
.env
.env.*

# Node
node_modules/

# pnpm
storage/.pnpm-store/
!storage/.gitkeep

# Turbo
.turbo/

# Build output
demo/dist/
demo/app/dist/
demo/api/dist/
demo/app/.turbo/

# SQLite
*.db

# Editor/IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

.claude/settings.local.json
.claude/.claude/launch.json
!.claude/.gitkeep

storage/.turbo/*
!storage/.turbo/.gitkeep

storage/.cache/*
!storage/.cache/.gitkeep

storage/dist/api/*
!storage/dist/api/.gitkeep

storage/dist/app/*
!storage/dist/app/.gitkeep